.navbar{
    background-color: rgb(73, 158, 73);
   }

.cebolinha3{
    width: 80px;
}



.col-6{
    background-color: rgb(113, 165, 113);
    
}

.perfil1{
 width: 100px;  
 border-radius: 30%;
}

.perfil2{
    width: 95px;  
    border-radius: 30%;
}

.perfil3{
    width: 100px;  
    border-radius: 30%;
   }

   .perfil4{
    width: 100px;  
    border-radius: 30%;
   }
   
   .perfil5{
    width: 100px;  
    border-radius: 30%;
   }   

   .perfil6{
    width: 100px;  
    border-radius: 30%;
   }
