.navbar{
 background-color: rgb(73, 158, 73);
}

.cebolinha3{
    width: 80px;
}

.nav-link{
    align-items: right;
    color: white;
}

.imgmexe{
    height: 600px;
    width: 100%;
}

body{
    background-color:  rgb(73, 158, 73);
}

.NOTICIAS{
    font-family: fantasy;
}

.desenvolvedor{
    text-align: bottom;
    
}

